* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.mainAll {
    border: px solid red;
    font-family: Verdana, Helvetica, Arial;
    color: #141414;
}

.mainHeader {
    position: sticky;
    top: 0;
}

.mainInfoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b09196;
    font-size: 0.6em;
    padding: 0.5em 0;
    height: 3em;
}

.mainBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    box-shadow: 2px 2px 2px #dcdedf;
    height: 3em;
}

.icons1 {
    display: flex;
}

.icons2 {
    display: flex;
}

.menu,
.search,
.userSession,
.cart {
    margin: 0.5em;
}

.logo {
    font-weight: 600;
    font-size: 1.2em;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(218, 215, 215);
    padding: 0.2em 0.8em;
    border-radius: 25px;
}

.thematicImage img {
    border-radius: 15px;    
}

input[type='search'] {
    border: 0;
    margin: 0 0.8em;
}

input[type='search']:focus {
    outline: 0;
}

input[type='submit'] {
    border: 1px solid #808080;
    color: #3c3c3c;
    padding: 0.8em 0;    
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
}

input[type='submit']:hover {
    border: 1px solid #808080;
    background-color: #141414;
    color: #f2f2f2;
    padding: 0.8em 0;    
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
}

.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news {
    background-color: gray;
}

.advertising {
    background-color: blue;
}

.recommendedByTopic {
    background-color: green;
}

.opinions {
    background-color: pink;
}

.impactPhrase {
    background-color: yellow;
}

.editorials {
    background-color: cyan;
}

.begin {
    background-color: purple;
}

.phrase {
    background-color: aquamarine;
}

.botonBegin {
    background-color: yellowgreen;
}

.myFooter {
    background-color: orange;
}

.thematic {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em;
}

.thematicTitle {  
    width: 100%;
    padding: 0.6em;
    font-size: 1.2em;
    font-weight: 600;
}

.thematicCards {
    display: flex;
    flex-direction: row;
    
    width: 100%;  
  /*  height: fit-content;
    white-space: nowrap;    */
    overflow-x: scroll;
    /*overflow-y: hidden;*/
   /* -webkit-overflow-scrolling: touch;*/
   height: 100%;
    
}

::-webkit-scrollbar {
    display: none;
}


.thematicCard {    
    margin: 0 0.5em;
    background-color: pink;
    height: 60%;
  /*  float: none;
    display: inline-block; */
}

.thematicImage {
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.thematicTopic {
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: #845a66;
    color: #f2f2f2; */
    font-size: 1em;  
    font-weight: 600;      
    padding: 0.6em 0.4em 0.6em 0;    
}

.thematicMeaning {
    display: flex;
   /* background-color:#39474e;
    color: #f2f2f2; */
    padding: 0.4em 0.2em 0.4em 0;
    font-size: 0.8em;

}

.thematicButton {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 0.8em 0;    
}