* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.mainAll {
    border: px solid red;
    font-family: Verdana, Helvetica, Arial;
    color: #141414;
}

.mainInfoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b09196;
    font-size: 0.6em;
    padding: 0.5em 0;
    height: 3em;
}

.mainBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    box-shadow: 2px 2px 2px #dcdedf;
    height: 3em;
}

.icons1 {
    display: flex;
}

.icons2 {
    display: flex;
}

.menu,
.search,
.userSession,
.cart {
    margin: 0.5em;
}

.logo {
    font-weight: 600;
    font-size: 1.2em;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(218, 215, 215);
    padding: 0.2em 0.8em;
    border-radius: 25px;
}


input[type='search'] {
    border: 0;
    margin: 0 0.8em;
}

input[type='search']:focus {
    outline: 0;
}

input[type='submit'] {
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 25px;
}

.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news {
    background-color: gray;
}

.advertising {
    background-color: blue;
}

.recommendedByTopic {
    background-color: green;
}

.opinions {
    background-color: pink;
}

.impactPhrase {
    background-color: yellow;
}

.editorials {
    background-color: cyan;
}

.begin {
    background-color: purple;
}

.phrase {
    background-color: aquamarine;
}

.botonBegin {
    background-color: yellowgreen;
}

.myFooter {
    background-color: orange;
}

iframe {
    width: 97.5%;
    min-width: 15%; /* comprobar */
    max-width: 97.5%;

}

.thematic {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thematicTitle {
    background-color: red;
    width: 100%;
}

.thematicCards {
    display: flex;
    flex-direction: row;    
    background-color: deeppink;
}

.thematicCard {
    margin: 0 2em;;
    background-color: pink;
}

.thematicImage {
    background-color: green;
}

.thematicTopic {
    background-color: blue;
}

.thematicMeaning {
    background-color: aquamarine;
}

.thematicButton {
    background-color: chartreuse;
}