* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}



.mainAll {
    font-family: Verdana, Helvetica, Arial;
    color: #141414;
}

.mainHeader {
    position: sticky;
    top: 0;
}

/* @keyframes anim-infobar {
    0% {
        opacity: 75%;
    }

    75% {
        opacity: 60%;
    }

    60% {
        opacity: 50%;
    }

    50% {
        opacity: 40%;
    }

    35% {
        opacity: 35%;
    }

   25% {
        opacity: 25%;
    }

    100% {
        opacity: 0%;
    }
} */

.mainInfoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b09196;
    color: #f2f2f2;
    font-size: 0.6em;
    padding: 0.5em 0;
    height: 3em;
    /* 
    animation-name: anim-infobar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    */
    /* transition-property: opacity;
    transition-duration: 3s;
    transition: 
    transition-delay: 2s; */
}

.mainInfoBar:hover {
    opacity: 50%;
}

.mainBar {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    box-shadow: 2px 2px 2px #dcdedf;
    height: 3em;
}

.icons1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu,
.search {
    margin: 0.5em;
}

.heart,
.userSession,
.cart {
    margin: 0.3em;
}

.logo {
    font-weight: 600;
    font-size: 1.2em;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(218, 215, 215);
    padding: 0.2em 0.8em;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.firstImpact,
.thematic,
.news,
.advertising,
.recommendedByTopic,
.recommendedByTopicBottomGroup,
.opinions,
.impactPhrase,
.editorials,
.begin {
    margin: 1.5em;
}

.thematicImage img {
    border-radius: 15px;
}

input[type='search'] {
    border: 0;
    margin: 0 0.8em;
    background-color: #f2f2f2;
}

input[type='search']:focus {
    outline: 0;
}

input[type='search']::placeholder {
    color: #9d9d9d;
    font-size: 1em;
}

input[type="submit"] {
    border: 1px solid #808080;
    border-radius: 25px;
    font-weight: 600;
    padding: 0.8em 1.2em;
}

input[type="submit"]:hover {
    border: 1px solid #141414;
    background-color: #141414;
    color: #f2f2f2;
}


.firstImpact {
    display: flex;
    justify-content: center;
    background-image: url("../images/bookshop5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35em;
    width: 80%;
}

.firstImpactButton {
    padding-top: 35%
}

.firstImpact input {
    border-color: #b8abad;
    font-size: 1.2em;
    background-color: #b09196;
    color: #f2f2f2;
    padding: 1em 2em;
}

.firstImpact input:hover {
    border-color: #141414;
    background-color: #f2f2f2;
    color: #3c3c3c;
}

.thematicButton input {
    background-color: #f2f2f2;
    color: #3c3c3c;
    width: 100%;
}

.thematicButton input:hover {
    background-color: #141414;
    color: #f2f2f2;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28em;
}

.newsElement {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    width: 100%;
    height: 100%;
    background-color: #141414;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

.newsElementPublicidadIzda {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 26%;
}

.newsElementPublicidadCentro {
    background-image: url("../images/novedades3.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
}

.newsElementPublicidadDcha {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 26%;
}

.advertising {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.advertisingElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em 0 0;
    width: 21em;
    border-radius: 25px;
}

.advertisingElement1 {
    background-color: #dacdb9;
}

.advertisingElement2 {
    background-color: #caa37dbf;
}

.advertisingElement3 {
    background-color: #b57f48ce;
}

.advertisingElementTitle {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.7em;
    font-weight: 600;
    padding: 1em 0.2em 0 0.2em;
}

.advertisingElementText {
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: justify;
}

.advertisingElement img {
    width: 21em;
    border-radius: 0 0 25px 25px;
}

.recommendedByTopicElement img {
    width: 21em;
    height: 100%;
}






.opinions {}

.impactPhrase {}

.editorials {}

.begin {}

.phrase {}

.botonBegin {}

.myFooter {}

.thematic,
.recommendedByTopic {
    display: flex;
    flex-direction: column;
    margin-top: 1.6em;
    width: 100%;
}

.thematicTitle,
.recommendedByTopicTitle {
    width: 100%;
    padding: 1em 0.6em;
    font-size: 1.2em;
    font-weight: 600;
}

.thematicCards, .recommendedByTopicGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*  height: fit-content;
    white-space: nowrap; */
    overflow-x: scroll;
    /*overflow-y: hidden;*/
    /* -webkit-overflow-scrolling: touch;*/
    /* height: 100%; */
}

::-webkit-scrollbar {
    display: none;
}

.thematicCard, .recommendedByTopicElement {
    margin: 0 0.5em;
    height: 60%;
    background-color: #f2f2f2;
    /*  float: none;
    display: inline-block; */
    width: 21em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendedByTopicElement {
    height: 25em;
}

.thematicImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thematicTopic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #845a66;
    color: #f2f2f2; */
    font-size: 1em;
    font-weight: 600;
    padding: 0.6em 0.4em 0.6em 0;
}

.thematicMeaning {
    display: flex;
    /* background-color:#39474e;
    color: #f2f2f2; */
    padding: 0.4em 0.2em 0.4em 0;
    font-size: 0.8em;
}

.thematicButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0;
    width: 100%;
}

.recommendedByTopicElement {
   border-radius: 25px;
} 


.recommendedByTopicGroup {
    padding-bottom: 0.9em;
}


.recommendedByTopicElement input {
    border: 0;
    margin: 0.8em;
    background-color: #141414;
    color: #f2f2f2;
    width: 14em;
}

.recommendedByTopicElement input:hover {
    border: 0;
    margin: 0 0.8em;
    background-color: #f2f2f2;
    color: #141414;
}

.recommendedByTopicElement1,
.recommendedByTopicElement2,
.recommendedByTopicElement3,
.recommendedByTopicElement4,
.recommendedByTopicElement5,
.recommendedByTopicElement6 {
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2em;
}

.recommendedByTopicElement1 {
    background-image: url("../images/recomendaciones_inicial.png");
}

.recommendedByTopicElement2 {
    background-image: url("../images/recomendaciones_fantasia.png");


}

.recommendedByTopicElement3 {
    background-image: url("../images/recomendaciones_romantica.png");
}

.recommendedByTopicElement4 {
    background-image: url("../images/recomendaciones_historica.png");
}

.recommendedByTopicElement5 {
    background-image: url("../images/recomendaciones_terror.png");
}

.recommendedByTopicElement6 {
    background-image: url("../images/recomendaciones_arte.png");
}


.recommendedByTopicElementText {
    display: flex;
    justify-content: center;
    align-items: bottom;
    color: white;
    font-size: 1.5em;
    height: 6%;
}


.recommendedByTopicBottomGroup {
    display: flex;
    flex-direction: row;
}

.recommendedByTopicBottomText {
    display: flex;
    width: 50%;
    justify-content: start;
}

.recommendedByTopicBottomButtonGroup {
    display: flex;
    width: 50%;
    justify-content: end;
}

.opinions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.opinionsElement {
    height: 25em;
    width: 100%;
    margin: 0 0.8em;
    background-color: chartreuse;
}

.opinionsElementTop {
    padding: 2em;
    height: 80%;
}

.opinionsElementBottom {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
}


.impactPhrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 27, 129);
    color: #f2f2f2;
    width: 100%;
    padding: 2em;
}

.impactPhraseTop {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 0.9em;
}


.myHighlighted {
    font-weight: 800;
}

.editorials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    font-size: 0.7em;
    background-color: rgb(97, 27, 129);
    color: #f2f2f2;
    padding: 0.4em;

}

.begin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rebeccapurple;
    COLOR: #f2f2f2;
    padding: 2em;
    width: 100%;
    margin-bottom: 2em;
}


.phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    margin-bottom: 2em;
}

.myFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d94c4;
    color: #f2f2f2;
    width: 100%;
    min-height: 25em;
}